<?php

return [
    'api_url' => 'https://api.elifesciences.org/',
    'hypothesis' => [
        'api_url' => 'https://hypothes.is/api/',
        'user_management' => [
            'client_id' => '',
            'secret_key' => '',
        ],
        'jwt_signing' => [
            'client_id' => '',
            'secret_key' => '',
            'expire' => 600,
        ],
        'authority' => '',
        'group' => '',
    ],
    'aws' => [
        'queue_name' => 'annotations--queue',
        'queue_message_default_type' => 'profile',
        'credential_file' => true,
        'region' => 'us-east-1',
        'endpoint' => 'http://localhost:4100',
    ],
];
